/* Page Background */
.payment-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;


    background:
        radial-gradient(circle at top left, #ffe8a3 0%, transparent 30%),
        radial-gradient(circle at bottom right, #d4af37 0%, transparent 30%),
        linear-gradient(135deg, #ffffff, #f8f8f8);

    padding: 20px;
}

/* QR Scanner Image */
.payment-container img {
    width: 320px;
    max-width: 90%;
    border-radius: 20px;
    background: #fff;
    padding: 20px;
    display: flex;


    box-shadow:
        0 15px 35px rgba(0,0,0,0.15),
        0 5px 15px rgba(212,175,55,0.25);

    transition: transform 0.4s ease,
                box-shadow 0.4s ease;
}

/* Hover Effect */
.payment-container img:hover {
    transform: translateY(-8px) scale(1.03);

    box-shadow:
        0 25px 45px rgba(0,0,0,0.2),
        0 10px 30px rgba(212,175,55,0.35);
}



.back-cart-btn{
    padding:12px 28px;
    border:2px solid #111827;
    border-radius:50px;
   width: 20rem;
   justify-content: center;
    background:#fff;
    color:#111827;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    

    display:inline-flex;
    align-items:center;
    gap:8px;
    border: none;

    transition:all .3s ease;
    box-shadow:0 8px 20px rgb(0, 0, 0);
}

.back-cart-btn:hover{
    background:#111827;
    color:#fff;
    transform:translateY(-3px);
    box-shadow:0 15px 30px rgba(0,0,0,.2);
}

.back-cart-btn:active{
    transform:scale(.96);
}

.back-cart-btn:focus{
    outline:3px solid rgba(17,24,39,.25);
    outline-offset:3px;
}

@media (max-width:768px){
    .back-cart-btn{

        width:260px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        justify-content:center;
       
        padding:14px;
        font-size:15px;
    }
}




/* Mobile */
@media (max-width: 768px) {
    .payment-container img {
        width: 260px;
        padding: 15px;
        border-radius: 16px;
    }
}
